<div class="mb-3" nz-flex [nzJustify]="'space-between'" [nzAlign]="'center'">
  <h2>Skills</h2>
  <button nz-button nzType="primary" nzShape="round" (click)="showSkillModal()">
    <span nz-icon nzType="plus"></span>Add
  </button>
</div>

<nz-table nzShowPagination nzShowSizeChanger nzFrontPagination="false" [nzData]="skills" [nzPageSize]="pageSize"  [nzScroll]="{'y':'55vh'}"
  [nzTotal]="total" [nzPageIndex]="1" [nzShowTotal]="rangeTemplate" (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
    <tr>
      <th>Skill</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let skill of skills">
      <td>{{ skill.skillTitle }}</td>
      <td><p nz-typography nzEllipsis nzExpandable [nzEllipsisRows]="3" class="text-secondary">{{ skill.skillDescription }}</p></td>
      <td>
        <button nz-button nzType="default" nzShape="circle" (click)="showSkillModal(skill)">
          <span nz-icon nzType="edit" nzTheme="outline"></span>
        </button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="default" nzShape="circle" nzDanger
            (click)="showSkillDeleteConfirm(skill.skillGuid)">
            <span nz-icon nzType="delete" nzTheme="outline"></span>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>

<ng-template #rangeTemplate let-range="range" let-total>
  Showing {{ range[0] }}-{{ range[1] }} of {{ total }} records
</ng-template>


<nz-modal [(nzVisible)]="isSkillModalVisible" nzCentered nzTitle="{{ modalTitle }} Skill"
  nzClosable="false" [nzFooter]="null" [nzBodyStyle]="{ borderRadius: '20px' }">
  <ng-container *nzModalContent>
    <form nz-form [nzAutoTips]="autoTips" [formGroup]="formSkill" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="skillTitle">Skill Name</nz-form-label>
        <nz-form-control>
          <input nz-input type="text" formControlName="skillTitle" id="skillTitle"
            placeholder="Enter skill" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="skillDescription">Description</nz-form-label>
        <nz-form-control>
          <textarea nz-input formControlName="skillDescription" id="skillDescription" placeholder="Enter skill description" [nzAutosize]="{ minRows: 1, maxRows: 6 }"></textarea>
        </nz-form-control>
      </nz-form-item>
      <div nz-flex nzJustify="flex-end" [nzGap]="8">
        <button nz-button nzType="default" nzShape="round" (click)="handleSkillModalCancel($event)">
          Cancel
        </button>
        <button nz-button nzType="primary" nzShape="round" (click)="handleSkillModalOk()">
          Save
        </button>
      </div>
    </form>
  </ng-container>
</nz-modal>

<ng-template #elseBlock>
  <nz-empty></nz-empty>
</ng-template>
