<div class="centered-form">
  <nz-card >

    <h1>LINKWAY</h1>
    <div class="combination-wrapper">

    <img
    nz-image
    width="300px"
    height="200px"
    nzSrc="../../../../assets/images/reset password.jpg"
    />
    <form
      nzLayout="vertical"
      class="reset-password-form"
      nz-form
      [formGroup]="validateForm"
      (ngSubmit)="handleResetPassword()"
    >
      <h3>Please enter new password you want to set.</h3>
      <nz-form-item>
        <nz-form-label nzFor="password" nzRequired
          >Password</nz-form-label
        >
        <nz-form-control
          nzErrorTip="Please input your password!"
        >
        <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">

          <input
            nz-input
            [type]="passwordVisible ? 'text' : 'password'"
            id="password"
            formControlName="password"
            (ngModelChange)="updateConfirmValidator()"
          />
          <ng-template #suffixTemplate>
            <span
              nz-icon
              [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"
            ></span>
          </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label  nzFor="checkPassword" nzRequired
          >Confirm Password</nz-form-label
        >
        <nz-form-control  [nzErrorTip]="errorTpl">
          <nz-input-group nzPrefixIcon="lock" [nzSuffix]="eyeIcon">
          <input
            nz-input
            [type]="confirmPasswordVisible ? 'text' : 'password'"
            formControlName="checkPassword"
            id="checkPassword"
          />
          <ng-template #eyeIcon>
            <span
              nz-icon
              [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
              (click)="confirmPasswordVisible = !confirmPasswordVisible"
            ></span>
          </ng-template>
          <ng-template #errorTpl let-control>
            <ng-container *ngIf="control.errors?.['required']"
              >Please confirm your password!</ng-container
            >
            <ng-container *ngIf="control.errors?.['confirm']"
              >Confirm password doesn't match with password!</ng-container
            >
          </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-flex nzJustify="flex-end" [nzGap]="8">
        <button
          nz-button
          nzDanger
          nzType="primary"
          nzShape="round"
          [disabled]="!validateForm.valid"
          type="submit"
        >
          Reset
        </button>
      </div>
    </form>
  </div>
  </nz-card>
</div>
