.combination-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  inline-size: 40rem;
  padding: 2rem;
}
.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 }
.reset-password-form{
  width: 30rem;
}
