USE [master]
GO
/****** Object:  Database [CoreconnectDB]    Script Date: 6/10/2024 6:16:55 PM ******/
CREATE DATABASE [CoreconnectDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CoreconnectDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019\MSSQL\DATA\CoreconnectDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CoreconnectDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019\MSSQL\DATA\CoreconnectDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoreconnectDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoreconnectDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[EmployeeCode] [int] IDENTITY(1,1) NOT NULL,
	[BusinessUnitId] [int] NULL,
	[PronounId] [int] NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[UserName] [nvarchar](256) NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[DesignationId] [int] NULL,
	[BirthDate] [datetime] NULL,
	[ProfilePhotoName] [nvarchar](500) NULL,
	[BannerPhotoName] [nvarchar](500) NULL,
	[SkypeId] [nvarchar](100) NULL,
	[LinkedInURL] [nvarchar](500) NULL,
	[About] [nvarchar](1000) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
	[EmergencyContactNo] [nvarchar](15) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CND_GIFTForms]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CND_GIFTForms](
	[GIFTFormId] [int] IDENTITY(1,1) NOT NULL,
	[GIFTFormGuid] [uniqueidentifier] NOT NULL,
	[CandidateId] [int] NOT NULL,
	[GIFTFormReviewerId] [int] NULL,
	[CurrentDesignationId] [int] NOT NULL,
	[DesiredDesignationId] [int] NOT NULL,
	[GapsIdentified] [nvarchar](1000) NULL,
	[PlanOfAction] [nvarchar](1000) NULL,
	[TargetAchievementDate] [datetime] NULL,
	[IsSupportRequired] [bit] NOT NULL,
	[EndResult] [nvarchar](1000) NULL,
	[MajorAchievements] [nvarchar](1000) NULL,
	[LearningAndTransistionProcess] [nvarchar](1000) NOT NULL,
	[CareerGrowthContribution] [nvarchar](1000) NOT NULL,
	[WorkRelatedTrainingAndCertifications] [nvarchar](1000) NULL,
	[GIFTFormManagerStatus] [int] NOT NULL,
	[GIFTFormAdminStatus] [int] NOT NULL,
	[GIFTFormRejectionReason] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_CND_GIFTForms] PRIMARY KEY CLUSTERED 
(
	[GIFTFormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_BusinessUnits]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_BusinessUnits](
	[BusinessUnitId] [int] IDENTITY(1,1) NOT NULL,
	[BusinessUnitGuid] [uniqueidentifier] NOT NULL,
	[BusinessUnitName] [nvarchar](100) NOT NULL,
	[BusinessUnitLogoName] [nvarchar](100) NOT NULL,
	[BusinessUnitDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MST_BusinessUnits] PRIMARY KEY CLUSTERED 
(
	[BusinessUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_Causes]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_Causes](
	[CauseId] [int] IDENTITY(1,1) NOT NULL,
	[CauseGuid] [uniqueidentifier] NOT NULL,
	[Cause] [nvarchar](100) NOT NULL,
	[CauseDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MST_Causes] PRIMARY KEY CLUSTERED 
(
	[CauseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_Certifications]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_Certifications](
	[CertificationId] [int] IDENTITY(1,1) NOT NULL,
	[CertificationGuid] [uniqueidentifier] NOT NULL,
	[CertificationTitle] [nvarchar](100) NOT NULL,
	[CertificationDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MST_Certifications] PRIMARY KEY CLUSTERED 
(
	[CertificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_Companies]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_Companies](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyGuid] [uniqueidentifier] NOT NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
	[CompanyDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MST_Companies] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_Departments]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentGuid] [uniqueidentifier] NOT NULL,
	[Department] [nvarchar](100) NOT NULL,
	[DepartmentDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MST_Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_Designations]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_Designations](
	[DesignationId] [int] IDENTITY(1,1) NOT NULL,
	[DesignationGuid] [uniqueidentifier] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[Designation] [nvarchar](100) NOT NULL,
	[DesignationLevel] [int] NOT NULL,
	[DesignationDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MST_Designations] PRIMARY KEY CLUSTERED 
(
	[DesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_EmploymentTypes]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_EmploymentTypes](
	[EmploymentTypeId] [int] IDENTITY(1,1) NOT NULL,
	[EmploymentTypeGuid] [uniqueidentifier] NOT NULL,
	[EmploymentTypeTitle] [nvarchar](100) NOT NULL,
	[EmploymentTypeDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MST_EmploymentTypes] PRIMARY KEY CLUSTERED 
(
	[EmploymentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_InternalProgramCategories]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_InternalProgramCategories](
	[InternalProgramCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[InternalProgramCategoryGuid] [uniqueidentifier] NOT NULL,
	[InternalProgramId] [int] NOT NULL,
	[InternalProgramCategory] [nvarchar](100) NOT NULL,
	[InternalProgramCategoryDescription] [nvarchar](500) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MST_InternalProgramCategories] PRIMARY KEY CLUSTERED 
(
	[InternalProgramCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_InternalPrograms]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_InternalPrograms](
	[InternalProgramId] [int] IDENTITY(1,1) NOT NULL,
	[InternalProgramGuid] [uniqueidentifier] NOT NULL,
	[InternalProgramName] [nvarchar](100) NOT NULL,
	[InternalProgramDescription] [nvarchar](500) NULL,
	[InternalProgramReviewCycle] [int] NOT NULL,
	[InternalProgramActiveDays] [int] NOT NULL,
	[IsInternalProgramCategoryExists] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MST_InternalPrograms] PRIMARY KEY CLUSTERED 
(
	[InternalProgramId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_LocationTypes]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_LocationTypes](
	[LocationTypeId] [int] IDENTITY(1,1) NOT NULL,
	[LocationTypeGuid] [uniqueidentifier] NOT NULL,
	[LocationType] [nvarchar](50) NOT NULL,
	[LocationTypeDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MST_LocationTypes] PRIMARY KEY CLUSTERED 
(
	[LocationTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_Notifications]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[NotificationGuid] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[NotificationTitle] [nvarchar](100) NOT NULL,
	[NotificationDescription] [nvarchar](250) NULL,
	[isNotificationRead] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MST_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_Proficiencies]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_Proficiencies](
	[ProficiencyId] [int] IDENTITY(1,1) NOT NULL,
	[ProficiencyGuid] [uniqueidentifier] NOT NULL,
	[ProficiencyTitle] [nvarchar](100) NOT NULL,
	[ProficiencyDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MST_Proficiencies] PRIMARY KEY CLUSTERED 
(
	[ProficiencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_Projects]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_Projects](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectGuid] [uniqueidentifier] NOT NULL,
	[ProjectTitle] [nvarchar](100) NOT NULL,
	[ProjectDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MST_Projects] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_Pronouns]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_Pronouns](
	[PronounId] [int] IDENTITY(1,1) NOT NULL,
	[PronounGuid] [uniqueidentifier] NOT NULL,
	[Pronoun] [nvarchar](50) NOT NULL,
	[PronounDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MST_Pronounses] PRIMARY KEY CLUSTERED 
(
	[PronounId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_Skills]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_Skills](
	[SkillId] [int] IDENTITY(1,1) NOT NULL,
	[SkillGuid] [uniqueidentifier] NOT NULL,
	[SkillTitle] [nvarchar](100) NOT NULL,
	[SkillDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MST_Skills] PRIMARY KEY CLUSTERED 
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_Trainings]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_Trainings](
	[TrainingId] [int] IDENTITY(1,1) NOT NULL,
	[TrainingGuid] [uniqueidentifier] NOT NULL,
	[TrainingTitle] [nvarchar](100) NOT NULL,
	[TrainingDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MST_Trainings] PRIMARY KEY CLUSTERED 
(
	[TrainingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_TrainingTypes]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_TrainingTypes](
	[TrainingTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TrainingTypeGuid] [uniqueidentifier] NOT NULL,
	[TrainingType] [nvarchar](100) NOT NULL,
	[TrainingTypeDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MST_TrainingTypes] PRIMARY KEY CLUSTERED 
(
	[TrainingTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NMS_Attachments]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NMS_Attachments](
	[AttachmentId] [int] IDENTITY(1,1) NOT NULL,
	[AttachmentGuid] [uniqueidentifier] NOT NULL,
	[NominationId] [int] NOT NULL,
	[AttachmentName] [nvarchar](500) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_NMS_Attachments] PRIMARY KEY CLUSTERED 
(
	[AttachmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NMS_Nominations]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NMS_Nominations](
	[NominationId] [int] IDENTITY(1,1) NOT NULL,
	[NominationGuid] [uniqueidentifier] NOT NULL,
	[NominatorId] [int] NOT NULL,
	[NomineeId] [int] NOT NULL,
	[InternalProgramId] [int] NOT NULL,
	[InternalProgramCategoryId] [int] NULL,
	[CycleIteration] [int] NOT NULL,
	[JustificationComment] [nvarchar](500) NOT NULL,
	[NominationStatus] [int] NOT NULL,
	[NominationRejectionReason] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_NMS_Nominations] PRIMARY KEY CLUSTERED 
(
	[NominationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REL_CertificationsSkills]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REL_CertificationsSkills](
	[CertificationId] [int] NOT NULL,
	[SkillId] [int] NOT NULL,
 CONSTRAINT [PK_REL_CertificationsSkills_1] PRIMARY KEY CLUSTERED 
(
	[CertificationId] ASC,
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REL_RequestsUsers]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REL_RequestsUsers](
	[RequestId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_REL_RequestsUsers] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REL_UserProjectsSkills]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REL_UserProjectsSkills](
	[UserProjectId] [int] NOT NULL,
	[SkillId] [int] NOT NULL,
 CONSTRAINT [PK_REL_UserProjectsSkills] PRIMARY KEY CLUSTERED 
(
	[UserProjectId] ASC,
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RST_Requests]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RST_Requests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[RequestGuid] [uniqueidentifier] NOT NULL,
	[RequesterId] [int] NOT NULL,
	[RequestType] [int] NOT NULL,
	[RequestDescription] [nvarchar](500) NOT NULL,
	[RequestStatus] [int] NOT NULL,
	[NoOfMembers] [int] NOT NULL,
	[RequestDate] [datetime] NOT NULL,
	[RequestRejectionReason] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_RST_Request] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR_Awards]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_Awards](
	[AwardId] [int] IDENTITY(1,1) NOT NULL,
	[AwardGuid] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[AwardTitle] [nvarchar](100) NOT NULL,
	[AwardIssuer] [nvarchar](100) NULL,
	[AwardIssueDate] [datetime] NULL,
	[AwardDescription] [nvarchar](500) NULL,
	[AwardPhotoName] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_USR_Awards] PRIMARY KEY CLUSTERED 
(
	[AwardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR_Certifications]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_Certifications](
	[UserCertificationId] [int] IDENTITY(1,1) NOT NULL,
	[CertificationGuid] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[CertificationId] [int] NOT NULL,
	[CertificateIssuingCompanyId] [int] NOT NULL,
	[CertificationIssueDate] [datetime] NULL,
	[CertificationExpirationDate] [datetime] NULL,
	[CertificationCredentialId] [nvarchar](250) NULL,
	[CertificationCredentialURL] [nvarchar](500) NULL,
	[CertificationPhotoName] [nvarchar](500) NULL,
	[CertificationDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_EMP_Certificates] PRIMARY KEY CLUSTERED 
(
	[UserCertificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR_Comments]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_Comments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[CommentGuid] [uniqueidentifier] NOT NULL,
	[CommenterId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Comment] [nvarchar](500) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_EMP_Comments] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR_Educations]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_Educations](
	[EducationId] [int] IDENTITY(1,1) NOT NULL,
	[EducationGuid] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[EducationInstituteName] [nvarchar](100) NOT NULL,
	[EducationDegree] [nvarchar](100) NULL,
	[EducationStartDate] [datetime] NOT NULL,
	[EducationEndDate] [datetime] NULL,
	[IsEducationActive] [bit] NOT NULL,
	[EducationGrade] [nvarchar](50) NULL,
	[EducationDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_USR_Educations] PRIMARY KEY CLUSTERED 
(
	[EducationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR_Experiences]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_Experiences](
	[ExperienceId] [int] IDENTITY(1,1) NOT NULL,
	[ExperienceGuid] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[EmploymentTypeId] [int] NULL,
	[LocationTypeId] [int] NULL,
	[DesignationId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[Country] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[ExperienceStartDate] [datetime] NOT NULL,
	[ExperienceEndDate] [datetime] NULL,
	[IsExperienceActive] [bit] NOT NULL,
	[ExperienceDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_EMP_Experience] PRIMARY KEY CLUSTERED 
(
	[ExperienceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR_KRAs]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_KRAs](
	[KRAId] [int] IDENTITY(1,1) NOT NULL,
	[KRAGuid] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[KRATitle] [nvarchar](100) NOT NULL,
	[KRADescription] [nvarchar](500) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_USR_KRAs] PRIMARY KEY CLUSTERED 
(
	[KRAId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR_Languages]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_Languages](
	[LanguageId] [int] IDENTITY(1,1) NOT NULL,
	[LanguageGuid] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[ProficiencyId] [int] NULL,
	[LanguageName] [nvarchar](50) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_USR_Languages] PRIMARY KEY CLUSTERED 
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR_Patents]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_Patents](
	[PatentId] [int] IDENTITY(1,1) NOT NULL,
	[PatentGuid] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[PatentTitle] [nvarchar](100) NOT NULL,
	[PatentApplicationNumber] [nvarchar](100) NOT NULL,
	[PatentStatus] [int] NOT NULL,
	[PatentIssueDate] [datetime] NOT NULL,
	[PatentURL] [nvarchar](500) NULL,
	[PatentDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_USR_Patents] PRIMARY KEY CLUSTERED 
(
	[PatentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR_Projects]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_Projects](
	[UserProjectId] [int] IDENTITY(1,1) NOT NULL,
	[UserProjectGuid] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[ProjectStartDate] [datetime] NOT NULL,
	[ProjectEndDate] [datetime] NULL,
	[isProjectActive] [bit] NOT NULL,
	[ProjectDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_EMP_Projects] PRIMARY KEY CLUSTERED 
(
	[UserProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR_Skills]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_Skills](
	[UserSkillId] [int] IDENTITY(1,1) NOT NULL,
	[UserSkillGuid] [uniqueidentifier] NOT NULL,
	[SkillId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[ProficiencyId] [int] NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_USR_Skills] PRIMARY KEY CLUSTERED 
(
	[UserSkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR_Trainings]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_Trainings](
	[UserTrainingId] [int] IDENTITY(1,1) NOT NULL,
	[UserTrainingGuid] [uniqueidentifier] NOT NULL,
	[TrainingTypeId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[TrainingId] [int] NOT NULL,
	[TrainingStartDate] [datetime] NOT NULL,
	[TrainingEndDate] [datetime] NULL,
	[IsTrainingActive] [bit] NOT NULL,
	[UserTrainingDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_EMP_Trainings] PRIMARY KEY CLUSTERED 
(
	[UserTrainingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR_VolunteeringExperiences]    Script Date: 6/10/2024 6:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_VolunteeringExperiences](
	[VolunteeringExperienceId] [int] IDENTITY(1,1) NOT NULL,
	[VolunteeringExperienceGuid] [uniqueidentifier] NOT NULL,
	[CauseId] [int] NULL,
	[UserId] [int] NOT NULL,
	[VolunteeringExperienceOrganization] [nvarchar](100) NOT NULL,
	[VolunteeringExperienceRole] [nvarchar](100) NOT NULL,
	[VolunteeringExperienceStartDate] [datetime] NOT NULL,
	[VolunteeringExperienceEndDate] [datetime] NULL,
	[IsVolunteeringExperienceActive] [bit] NOT NULL,
	[VolunteeringExperienceDescription] [nvarchar](500) NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_USR_VolunteeringExperiences] PRIMARY KEY CLUSTERED 
(
	[VolunteeringExperienceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'0d5fc63f-6e40-413d-87d2-ecff3c2031d8', N'Admin', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'3d0644a7-e1e2-48ae-8bd9-3ffba379b05e', N'HR', N'HR', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'575e5940-d1d7-4d70-96ad-92e6b1ff53fc', N'RMG', N'RMG', NULL)
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] ON 

INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (236, N'4b95b2ab-0b15-4507-9f3d-c0e4827cbb7a', N'Create Business Unit', N'Create Business Unit')
INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (237, N'4b95b2ab-0b15-4507-9f3d-c0e4827cbb7a', N'View Business Unit', N'View Business Unit')
INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (238, N'4b95b2ab-0b15-4507-9f3d-c0e4827cbb7a', N'Edit Business Unit', N'Edit Business Unit')
GO
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] OFF
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'4b95b2ab-0b15-4507-9f3d-c0e4827cbb7a', N'0d5fc63f-6e40-413d-87d2-ecff3c2031d8')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'64f33c35-e62b-49f4-9ea7-b5c25f5ee6df', N'3d0644a7-e1e2-48ae-8bd9-3ffba379b05e')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2006ea14-712b-458c-b198-99b01e855c36', N'a250366c-1d99-41cb-aa61-86cfceba892d')
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 

SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
SET IDENTITY_INSERT [dbo].[CND_GIFTForms] ON 

SET IDENTITY_INSERT [dbo].[CND_GIFTForms] OFF
SET IDENTITY_INSERT [dbo].[MST_BusinessUnits] ON 

INSERT [dbo].[MST_BusinessUnits] ([BusinessUnitId], [BusinessUnitGuid], [BusinessUnitName], [BusinessUnitLogoName], [BusinessUnitDescription], [CreationDate], [ModificationDate]) VALUES (2, N'53b6f792-0e86-44d2-b551-7e0602c0af80', N'AutoDAP', N'5971035b-85d0-4c0f-b917-d0624be74614.jpg', N'Information Services', CAST(N'2024-04-02T14:48:56.587' AS DateTime), CAST(N'2024-05-02T09:48:32.143' AS DateTime))
INSERT [dbo].[MST_BusinessUnits] ([BusinessUnitId], [BusinessUnitGuid], [BusinessUnitName], [BusinessUnitLogoName], [BusinessUnitDescription], [CreationDate], [ModificationDate]) VALUES (30, N'a5418cd6-dd58-4e1d-87ed-4e39ab21bcba', N'AutoFacets', N'5daa3d09-b2f4-4808-a342-ddcef62b28af.jpg', N'Motor Vehicle Manufacturing', CAST(N'2024-04-05T11:51:56.867' AS DateTime), CAST(N'2024-05-02T09:48:47.600' AS DateTime))
INSERT [dbo].[MST_BusinessUnits] ([BusinessUnitId], [BusinessUnitGuid], [BusinessUnitName], [BusinessUnitLogoName], [BusinessUnitDescription], [CreationDate], [ModificationDate]) VALUES (32, N'2872f2d0-8e33-4796-83c0-b877687c6599', N'DiLX', N'46f4e8de-a165-420b-b9f3-50f11d49ef85.jpg', N'Transportation, Logistics, Supply Chain and Storage', CAST(N'2024-04-08T14:07:38.493' AS DateTime), CAST(N'2024-05-02T09:48:58.893' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_BusinessUnits] OFF
SET IDENTITY_INSERT [dbo].[MST_Certifications] ON 

INSERT [dbo].[MST_Certifications] ([CertificationId], [CertificationGuid], [CertificationTitle], [CertificationDescription], [CreationDate], [ModificationDate]) VALUES (1, N'eb9d9284-faaf-4597-9eb9-fbeae97f9a08', N'Angular', N'Frontend Framework', CAST(N'2024-05-02T07:19:17.733' AS DateTime), CAST(N'2024-05-02T07:19:17.733' AS DateTime))
INSERT [dbo].[MST_Certifications] ([CertificationId], [CertificationGuid], [CertificationTitle], [CertificationDescription], [CreationDate], [ModificationDate]) VALUES (2, N'6695bd6b-9813-43d1-8427-6743d8a259c5', N'HTML', N'HTML', CAST(N'2024-04-28T12:40:53.400' AS DateTime), CAST(N'2024-04-28T12:40:53.400' AS DateTime))
INSERT [dbo].[MST_Certifications] ([CertificationId], [CertificationGuid], [CertificationTitle], [CertificationDescription], [CreationDate], [ModificationDate]) VALUES (3, N'8ab9201d-4d54-4c03-82ae-5ce90b0bb7b5', N'C Basics', N'C Basics', CAST(N'2024-04-28T12:48:38.333' AS DateTime), CAST(N'2024-04-28T12:48:38.333' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_Certifications] OFF
SET IDENTITY_INSERT [dbo].[MST_Companies] ON 

INSERT [dbo].[MST_Companies] ([CompanyId], [CompanyGuid], [CompanyName], [CompanyDescription], [CreationDate], [ModificationDate]) VALUES (1, N'47e0e9d7-2b65-43f9-ab0e-9a1ce9b0d955', N'Microsoft', N'Microsoft', CAST(N'2024-05-01T14:44:49.087' AS DateTime), CAST(N'2024-05-01T14:44:49.087' AS DateTime))
INSERT [dbo].[MST_Companies] ([CompanyId], [CompanyGuid], [CompanyName], [CompanyDescription], [CreationDate], [ModificationDate]) VALUES (2, N'a4af59aa-a2f9-41ff-a39b-ffcc6e6825fd', N'HackerRank', N'HackerRank', CAST(N'2024-05-01T14:44:58.670' AS DateTime), CAST(N'2024-05-01T14:44:58.670' AS DateTime))
INSERT [dbo].[MST_Companies] ([CompanyId], [CompanyGuid], [CompanyName], [CompanyDescription], [CreationDate], [ModificationDate]) VALUES (3, N'521802a9-2c0f-42c9-b550-c4da90f5abeb', N'Gateway Group of Companies', N'Software Engineering Company', CAST(N'2024-05-02T07:30:03.853' AS DateTime), CAST(N'2024-05-02T07:30:03.853' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_Companies] OFF
SET IDENTITY_INSERT [dbo].[MST_Departments] ON 

INSERT [dbo].[MST_Departments] ([DepartmentId], [DepartmentGuid], [Department], [DepartmentDescription], [CreationDate], [ModificationDate]) VALUES (1, N'2a803022-abf8-415b-b425-c6b588c56344', N'Development', NULL, CAST(N'2024-05-03T00:00:00.000' AS DateTime), CAST(N'2024-05-03T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_Departments] OFF
SET IDENTITY_INSERT [dbo].[MST_Designations] ON 

INSERT [dbo].[MST_Designations] ([DesignationId], [DesignationGuid], [DepartmentId], [Designation], [DesignationLevel], [DesignationDescription], [CreationDate], [ModificationDate]) VALUES (1, N'cdec4767-7def-4641-af2b-61ea91644e0a', 1, N'Associate software engineer', 1, N'', CAST(N'2024-04-29T00:00:00.000' AS DateTime), CAST(N'2024-05-02T07:35:14.740' AS DateTime))
INSERT [dbo].[MST_Designations] ([DesignationId], [DesignationGuid], [DepartmentId], [Designation], [DesignationLevel], [DesignationDescription], [CreationDate], [ModificationDate]) VALUES (2, N'f9955c53-0267-48c3-8622-0b663cec7e76', 1, N'Junior software engineer', 2, NULL, CAST(N'2024-04-29T00:00:00.000' AS DateTime), CAST(N'2024-05-02T07:35:24.033' AS DateTime))
INSERT [dbo].[MST_Designations] ([DesignationId], [DesignationGuid], [DepartmentId], [Designation], [DesignationLevel], [DesignationDescription], [CreationDate], [ModificationDate]) VALUES (3, N'f023ca37-121b-4b0f-a869-b9902fcf20ff', 1, N'Senior software engineer ', 3, N'', CAST(N'2024-05-02T07:34:57.513' AS DateTime), CAST(N'2024-05-02T07:34:57.513' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_Designations] OFF
SET IDENTITY_INSERT [dbo].[MST_EmploymentTypes] ON 

INSERT [dbo].[MST_EmploymentTypes] ([EmploymentTypeId], [EmploymentTypeGuid], [EmploymentTypeTitle], [EmploymentTypeDescription], [CreationDate], [ModificationDate]) VALUES (2, N'd1318d03-63ef-48a1-ba08-a63399de6629', N'Intern', N'Intern', CAST(N'2023-03-03T00:00:00.000' AS DateTime), CAST(N'2024-04-05T11:55:11.003' AS DateTime))
INSERT [dbo].[MST_EmploymentTypes] ([EmploymentTypeId], [EmploymentTypeGuid], [EmploymentTypeTitle], [EmploymentTypeDescription], [CreationDate], [ModificationDate]) VALUES (3, N'cd20615a-f814-499d-a90b-6f9ea0de9344', N'Part Time', N'Part Time', CAST(N'2024-04-02T16:59:18.283' AS DateTime), CAST(N'2024-04-05T11:55:30.187' AS DateTime))
INSERT [dbo].[MST_EmploymentTypes] ([EmploymentTypeId], [EmploymentTypeGuid], [EmploymentTypeTitle], [EmploymentTypeDescription], [CreationDate], [ModificationDate]) VALUES (4, N'2d4a24cf-8b14-4333-9a27-447adc75efd5', N'Full-time', N'Full Time', CAST(N'2024-05-02T07:52:30.500' AS DateTime), CAST(N'2024-05-02T07:52:30.500' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_EmploymentTypes] OFF
SET IDENTITY_INSERT [dbo].[MST_InternalProgramCategories] ON 

INSERT [dbo].[MST_InternalProgramCategories] ([InternalProgramCategoryId], [InternalProgramCategoryGuid], [InternalProgramId], [InternalProgramCategory], [InternalProgramCategoryDescription], [CreationDate], [ModificationDate]) VALUES (1, N'56bae6ee-b376-4473-aef9-1d2879c7422d', 1, N'Mentorship', N'', CAST(N'2024-05-02T10:58:03.953' AS DateTime), CAST(N'2024-05-02T10:58:03.953' AS DateTime))
INSERT [dbo].[MST_InternalProgramCategories] ([InternalProgramCategoryId], [InternalProgramCategoryGuid], [InternalProgramId], [InternalProgramCategory], [InternalProgramCategoryDescription], [CreationDate], [ModificationDate]) VALUES (2, N'687d7e1f-3baf-47e1-810d-e9d35b925911', 1, N'Newbie', N'', CAST(N'2024-05-02T10:58:15.267' AS DateTime), CAST(N'2024-05-02T10:58:15.267' AS DateTime))
INSERT [dbo].[MST_InternalProgramCategories] ([InternalProgramCategoryId], [InternalProgramCategoryGuid], [InternalProgramId], [InternalProgramCategory], [InternalProgramCategoryDescription], [CreationDate], [ModificationDate]) VALUES (3, N'e835f0b5-a891-4bc3-a9ff-13bf38096287', 1, N'Innovation', N'', CAST(N'2024-05-02T10:58:28.397' AS DateTime), CAST(N'2024-05-02T10:58:28.397' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_InternalProgramCategories] OFF
SET IDENTITY_INSERT [dbo].[MST_InternalPrograms] ON 

INSERT [dbo].[MST_InternalPrograms] ([InternalProgramId], [InternalProgramGuid], [InternalProgramName], [InternalProgramDescription], [InternalProgramReviewCycle], [InternalProgramActiveDays], [IsInternalProgramCategoryExists], [CreationDate], [ModificationDate]) VALUES (1, N'5f5b83d1-69a0-4f79-9da6-f9d357cea513', N'RnR', N'Reward and Recognition', 4, 15, 1, CAST(N'2024-04-30T06:39:04.437' AS DateTime), CAST(N'2024-05-02T07:55:09.387' AS DateTime))
INSERT [dbo].[MST_InternalPrograms] ([InternalProgramId], [InternalProgramGuid], [InternalProgramName], [InternalProgramDescription], [InternalProgramReviewCycle], [InternalProgramActiveDays], [IsInternalProgramCategoryExists], [CreationDate], [ModificationDate]) VALUES (2, N'3bcf9b81-64bd-469f-a54c-9c3b46447f3e', N'Shabas', N'Shabas', 0, 5, 0, CAST(N'2024-05-02T07:55:01.313' AS DateTime), CAST(N'2024-05-02T07:55:01.313' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_InternalPrograms] OFF
SET IDENTITY_INSERT [dbo].[MST_LocationTypes] ON 

INSERT [dbo].[MST_LocationTypes] ([LocationTypeId], [LocationTypeGuid], [LocationType], [LocationTypeDescription], [CreationDate], [ModificationDate]) VALUES (1, N'03895eaa-deba-41ef-8dfc-e599d7d33eba', N'Remote', N'WFH', CAST(N'2024-03-31T14:52:25.383' AS DateTime), CAST(N'2024-05-02T11:01:31.683' AS DateTime))
INSERT [dbo].[MST_LocationTypes] ([LocationTypeId], [LocationTypeGuid], [LocationType], [LocationTypeDescription], [CreationDate], [ModificationDate]) VALUES (2, N'f7013e53-0f4c-489f-95ab-a6f4fd387650', N'Hybrid', N'Both On-site and home', CAST(N'2024-04-02T12:13:39.400' AS DateTime), CAST(N'2024-05-02T11:01:17.833' AS DateTime))
INSERT [dbo].[MST_LocationTypes] ([LocationTypeId], [LocationTypeGuid], [LocationType], [LocationTypeDescription], [CreationDate], [ModificationDate]) VALUES (3, N'56970158-aef8-487c-8728-1c3e8bb86e17', N'On Site', N'Office', CAST(N'2024-05-02T07:55:40.173' AS DateTime), CAST(N'2024-05-02T11:01:24.997' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_LocationTypes] OFF
SET IDENTITY_INSERT [dbo].[MST_Notifications] ON 

INSERT [dbo].[MST_Notifications] ([NotificationId], [NotificationGuid], [UserId], [NotificationTitle], [NotificationDescription], [isNotificationRead], [CreationDate], [ModificationDate]) VALUES (4, N'87c81c54-7894-42d8-8eb7-d4bed3c77639', 6, N'Nomination created', N'John Doe Nominated by mustakim manager', 0, CAST(N'2024-05-09T07:44:59.847' AS DateTime), CAST(N'2024-05-09T07:44:59.847' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_Notifications] OFF
SET IDENTITY_INSERT [dbo].[MST_Proficiencies] ON 

INSERT [dbo].[MST_Proficiencies] ([ProficiencyId], [ProficiencyGuid], [ProficiencyTitle], [ProficiencyDescription], [CreationDate], [ModificationDate]) VALUES (7, N'92cdc658-71db-4525-afa7-d295be9866d0', N'Expert', N'Expert', CAST(N'2024-04-03T16:00:06.780' AS DateTime), CAST(N'2024-05-02T11:01:35.193' AS DateTime))
INSERT [dbo].[MST_Proficiencies] ([ProficiencyId], [ProficiencyGuid], [ProficiencyTitle], [ProficiencyDescription], [CreationDate], [ModificationDate]) VALUES (8, N'aad77996-ec99-4440-8e80-624e3a712d5f', N'Native', N'Native', CAST(N'2024-04-08T09:30:47.120' AS DateTime), CAST(N'2024-04-08T09:30:47.120' AS DateTime))
INSERT [dbo].[MST_Proficiencies] ([ProficiencyId], [ProficiencyGuid], [ProficiencyTitle], [ProficiencyDescription], [CreationDate], [ModificationDate]) VALUES (9, N'27602494-44b0-49ba-b9c9-0a496e2992f2', N'Intermediate', N'Intermediate', CAST(N'2024-05-02T11:00:54.097' AS DateTime), CAST(N'2024-05-02T11:00:54.097' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_Proficiencies] OFF
SET IDENTITY_INSERT [dbo].[MST_Projects] ON 

INSERT [dbo].[MST_Projects] ([ProjectId], [ProjectGuid], [ProjectTitle], [ProjectDescription], [CreationDate], [ModificationDate]) VALUES (1, N'481cb03e-a026-45de-bd2e-a1bb87300977', N'Book Store', N'Book Store Management System', CAST(N'2024-04-29T00:00:00.000' AS DateTime), CAST(N'2024-05-02T11:13:27.670' AS DateTime))
INSERT [dbo].[MST_Projects] ([ProjectId], [ProjectGuid], [ProjectTitle], [ProjectDescription], [CreationDate], [ModificationDate]) VALUES (2, N'2a4a04da-d30c-4e5b-b73c-e9e06e55ad26', N'Coreconnect', N'New ERP System', CAST(N'2024-05-02T07:56:22.743' AS DateTime), CAST(N'2024-05-02T11:14:02.490' AS DateTime))
INSERT [dbo].[MST_Projects] ([ProjectId], [ProjectGuid], [ProjectTitle], [ProjectDescription], [CreationDate], [ModificationDate]) VALUES (3, N'457ef172-fafa-4d0e-96e2-7d9a910c276a', N'GNN', N'Gateway News Network', CAST(N'2024-05-02T08:01:25.507' AS DateTime), CAST(N'2024-05-02T11:14:10.623' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_Projects] OFF
SET IDENTITY_INSERT [dbo].[MST_Pronouns] ON 

INSERT [dbo].[MST_Pronouns] ([PronounId], [PronounGuid], [Pronoun], [PronounDescription], [CreationDate], [ModificationDate]) VALUES (1, N'5b0e303c-5c88-48bb-9739-78c1db2fe03b', N'He/Him', N'Male', CAST(N'2024-04-01T00:00:00.000' AS DateTime), CAST(N'2024-04-02T17:10:40.190' AS DateTime))
INSERT [dbo].[MST_Pronouns] ([PronounId], [PronounGuid], [Pronoun], [PronounDescription], [CreationDate], [ModificationDate]) VALUES (2, N'00325d1a-ac14-44f7-bb3d-9cf17467b7f5', N'She/Her', N'Female', CAST(N'2024-04-02T16:53:25.753' AS DateTime), CAST(N'2024-04-02T17:09:47.203' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_Pronouns] OFF
SET IDENTITY_INSERT [dbo].[MST_Skills] ON 

INSERT [dbo].[MST_Skills] ([SkillId], [SkillGuid], [SkillTitle], [SkillDescription], [CreationDate], [ModificationDate]) VALUES (1, N'7a4556ed-b6bd-4c0d-a027-85edc5cc71f8', N'C', N'C Programming Language', CAST(N'2024-04-28T00:00:00.000' AS DateTime), CAST(N'2024-04-28T00:00:00.000' AS DateTime))
INSERT [dbo].[MST_Skills] ([SkillId], [SkillGuid], [SkillTitle], [SkillDescription], [CreationDate], [ModificationDate]) VALUES (2, N'7c713734-df4d-4053-9cb3-b514c8b7236b', N'React', N'Frontend Library', CAST(N'2024-05-02T07:38:22.120' AS DateTime), CAST(N'2024-05-02T07:38:22.120' AS DateTime))
INSERT [dbo].[MST_Skills] ([SkillId], [SkillGuid], [SkillTitle], [SkillDescription], [CreationDate], [ModificationDate]) VALUES (3, N'bdc650df-e96e-4d77-a0c0-772e6c1e21f0', N'Angular', N'', CAST(N'2024-05-02T07:38:53.540' AS DateTime), CAST(N'2024-05-02T07:38:53.540' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_Skills] OFF
SET IDENTITY_INSERT [dbo].[MST_Trainings] ON 

INSERT [dbo].[MST_Trainings] ([TrainingId], [TrainingGuid], [TrainingTitle], [TrainingDescription], [CreationDate], [ModificationDate]) VALUES (1, N'72d4ecaa-acff-45cb-b651-06cdf689c767', N'Soft Skills', N'Soft Skills', CAST(N'2024-05-02T11:05:46.310' AS DateTime), CAST(N'2024-05-02T11:05:46.310' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_Trainings] OFF
SET IDENTITY_INSERT [dbo].[MST_TrainingTypes] ON 

INSERT [dbo].[MST_TrainingTypes] ([TrainingTypeId], [TrainingTypeGuid], [TrainingType], [TrainingTypeDescription], [CreationDate], [ModificationDate]) VALUES (1, N'ad51a41e-f9b5-4dd4-9462-948ede8650ab', N'Orientation', N'Orientation', CAST(N'2023-03-02T00:00:00.000' AS DateTime), CAST(N'2024-04-02T17:37:37.477' AS DateTime))
INSERT [dbo].[MST_TrainingTypes] ([TrainingTypeId], [TrainingTypeGuid], [TrainingType], [TrainingTypeDescription], [CreationDate], [ModificationDate]) VALUES (2, N'a99b1d17-3650-411a-b404-af766a4dc4d1', N'Safety training', N'Safety training', CAST(N'2024-05-02T11:07:44.523' AS DateTime), CAST(N'2024-05-02T11:07:44.523' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_TrainingTypes] OFF
SET IDENTITY_INSERT [dbo].[NMS_Nominations] ON 

INSERT [dbo].[NMS_Nominations] ([NominationId], [NominationGuid], [NominatorId], [NomineeId], [InternalProgramId], [InternalProgramCategoryId], [CycleIteration], [JustificationComment], [NominationStatus], [NominationRejectionReason], [CreationDate], [ModificationDate]) VALUES (1, N'c2d00e12-5565-4193-b696-448e41c90a42', 1066, 1062, 2, NULL, 0, N'dfsdsd', 0, NULL, CAST(N'2024-05-09T07:33:25.813' AS DateTime), CAST(N'2024-05-09T07:33:25.813' AS DateTime))
INSERT [dbo].[NMS_Nominations] ([NominationId], [NominationGuid], [NominatorId], [NomineeId], [InternalProgramId], [InternalProgramCategoryId], [CycleIteration], [JustificationComment], [NominationStatus], [NominationRejectionReason], [CreationDate], [ModificationDate]) VALUES (2, N'976832a4-324a-49b7-b884-036173ad0211', 1066, 1061, 2, NULL, 0, N'cscsd', 0, NULL, CAST(N'2024-05-09T07:35:05.997' AS DateTime), CAST(N'2024-05-09T07:35:05.997' AS DateTime))
INSERT [dbo].[NMS_Nominations] ([NominationId], [NominationGuid], [NominatorId], [NomineeId], [InternalProgramId], [InternalProgramCategoryId], [CycleIteration], [JustificationComment], [NominationStatus], [NominationRejectionReason], [CreationDate], [ModificationDate]) VALUES (3, N'b832800c-8019-432e-992b-7db7b229d26f', 1066, 1060, 2, NULL, 0, N'sdcsdc', 0, NULL, CAST(N'2024-05-09T07:38:14.980' AS DateTime), CAST(N'2024-05-09T07:38:14.983' AS DateTime))
SET IDENTITY_INSERT [dbo].[NMS_Nominations] OFF
SET IDENTITY_INSERT [dbo].[RST_Requests] ON 

INSERT [dbo].[RST_Requests] ([RequestId], [RequestGuid], [RequesterId], [RequestType], [RequestDescription], [RequestStatus], [NoOfMembers], [RequestDate], [RequestRejectionReason], [CreationDate], [ModificationDate]) VALUES (1, N'3549b9de-260d-4c9b-8e75-c01b5c5b2ce8', 1043, 0, N'sdasdvadv', 1, 2, CAST(N'2024-05-03T12:57:26.707' AS DateTime), NULL, CAST(N'2024-05-02T12:57:31.453' AS DateTime), CAST(N'2024-05-02T12:59:11.790' AS DateTime))
INSERT [dbo].[RST_Requests] ([RequestId], [RequestGuid], [RequesterId], [RequestType], [RequestDescription], [RequestStatus], [NoOfMembers], [RequestDate], [RequestRejectionReason], [CreationDate], [ModificationDate]) VALUES (2, N'2ffa29f4-2851-4ece-b025-190a9b13e0cb', 1043, 2, N'For box cricket', 2, 20, CAST(N'2024-05-04T12:59:26.417' AS DateTime), N'Not allowed to play box cricket in office time', CAST(N'2024-05-02T12:59:38.083' AS DateTime), CAST(N'2024-05-02T13:00:16.027' AS DateTime))
INSERT [dbo].[RST_Requests] ([RequestId], [RequestGuid], [RequesterId], [RequestType], [RequestDescription], [RequestStatus], [NoOfMembers], [RequestDate], [RequestRejectionReason], [CreationDate], [ModificationDate]) VALUES (3, N'c1b7bfe3-78b1-4b4d-93d4-0e7bab0c2f84', 1043, 1, N'For dinner with new joinee', 2, 3, CAST(N'2024-05-03T13:00:36.110' AS DateTime), N'No', CAST(N'2024-05-02T13:01:13.473' AS DateTime), CAST(N'2024-05-09T05:24:30.900' AS DateTime))
SET IDENTITY_INSERT [dbo].[RST_Requests] OFF
SET IDENTITY_INSERT [dbo].[USR_Comments] ON 

INSERT [dbo].[USR_Comments] ([CommentId], [CommentGuid], [CommenterId], [UserId], [Comment], [CreationDate], [ModificationDate]) VALUES (1, N'2664ee40-08d6-4e90-9061-3c7889b2d4d3', 1043, 1060, N'hello', CAST(N'2024-05-06T05:50:05.827' AS DateTime), CAST(N'2024-05-06T05:50:05.827' AS DateTime))
SET IDENTITY_INSERT [dbo].[USR_Comments] OFF
SET IDENTITY_INSERT [dbo].[USR_Experiences] ON 

SET IDENTITY_INSERT [dbo].[USR_Experiences] OFF
SET IDENTITY_INSERT [dbo].[USR_Skills] ON 

INSERT [dbo].[USR_Skills] ([UserSkillId], [UserSkillGuid], [SkillId], [UserId], [ProficiencyId], [CreationDate], [ModificationDate]) VALUES (7, N'bb1227d0-e25e-4769-8eb3-b8c4fa0a70de', 17, 1060, 1, CAST(N'2024-05-03T13:21:30.797' AS DateTime), CAST(N'2024-05-03T13:21:30.797' AS DateTime))
INSERT [dbo].[USR_Skills] ([UserSkillId], [UserSkillGuid], [SkillId], [UserId], [ProficiencyId], [CreationDate], [ModificationDate]) VALUES (8, N'6d907fe5-1597-452e-8372-39e32032b9d2', 3, 1060, 1, CAST(N'2024-05-03T13:21:34.010' AS DateTime), CAST(N'2024-05-03T13:21:34.010' AS DateTime))
INSERT [dbo].[USR_Skills] ([UserSkillId], [UserSkillGuid], [SkillId], [UserId], [ProficiencyId], [CreationDate], [ModificationDate]) VALUES (9, N'f63c8eaf-fb5f-459f-a804-c58ee89b517f', 21, 1060, 0, CAST(N'2024-05-03T13:21:37.423' AS DateTime), CAST(N'2024-05-03T13:21:37.423' AS DateTime))
SET IDENTITY_INSERT [dbo].[USR_Skills] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 6/10/2024 6:16:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 6/10/2024 6:16:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 6/10/2024 6:16:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 6/10/2024 6:16:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 6/10/2024 6:16:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUsers]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [IX_AspNetUsers] UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 6/10/2024 6:16:56 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 6/10/2024 6:16:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CND_GIFTForms]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[CND_GIFTForms] ADD  CONSTRAINT [IX_CND_GIFTForms] UNIQUE NONCLUSTERED 
(
	[GIFTFormGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MST_BusinessUnits]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[MST_BusinessUnits] ADD  CONSTRAINT [IX_MST_BusinessUnits] UNIQUE NONCLUSTERED 
(
	[BusinessUnitGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MST_Causes]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[MST_Causes] ADD  CONSTRAINT [IX_MST_Causes] UNIQUE NONCLUSTERED 
(
	[CauseGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MST_Companies]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[MST_Companies] ADD  CONSTRAINT [IX_MST_Companies] UNIQUE NONCLUSTERED 
(
	[CompanyGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MST_Departments]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[MST_Departments] ADD  CONSTRAINT [IX_MST_Departments] UNIQUE NONCLUSTERED 
(
	[DepartmentGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MST_Designations]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[MST_Designations] ADD  CONSTRAINT [IX_MST_Designations] UNIQUE NONCLUSTERED 
(
	[DesignationGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MST_EmploymentTypes]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[MST_EmploymentTypes] ADD  CONSTRAINT [IX_MST_EmploymentTypes] UNIQUE NONCLUSTERED 
(
	[EmploymentTypeGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MST_InternalProgramCategories]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[MST_InternalProgramCategories] ADD  CONSTRAINT [IX_MST_InternalProgramCategories] UNIQUE NONCLUSTERED 
(
	[InternalProgramCategoryGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MST_InternalPrograms]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[MST_InternalPrograms] ADD  CONSTRAINT [IX_MST_InternalPrograms] UNIQUE NONCLUSTERED 
(
	[InternalProgramGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MST_LocationTypes]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[MST_LocationTypes] ADD  CONSTRAINT [IX_MST_LocationTypes] UNIQUE NONCLUSTERED 
(
	[LocationTypeGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MST_Notifications]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[MST_Notifications] ADD  CONSTRAINT [IX_MST_Notifications] UNIQUE NONCLUSTERED 
(
	[NotificationGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MST_Proficiencies]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[MST_Proficiencies] ADD  CONSTRAINT [IX_MST_Proficiencies] UNIQUE NONCLUSTERED 
(
	[ProficiencyGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MST_Projects]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[MST_Projects] ADD  CONSTRAINT [IX_MST_Projects] UNIQUE NONCLUSTERED 
(
	[ProjectGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MST_Pronouns]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[MST_Pronouns] ADD  CONSTRAINT [IX_MST_Pronouns] UNIQUE NONCLUSTERED 
(
	[PronounGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MST_Skills]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[MST_Skills] ADD  CONSTRAINT [IX_MST_Skills] UNIQUE NONCLUSTERED 
(
	[SkillGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MST_TrainingTypes]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[MST_TrainingTypes] ADD  CONSTRAINT [IX_MST_TrainingTypes] UNIQUE NONCLUSTERED 
(
	[TrainingTypeGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NMS_Attachments]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[NMS_Attachments] ADD  CONSTRAINT [IX_NMS_Attachments] UNIQUE NONCLUSTERED 
(
	[AttachmentGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NMS_Nominations]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[NMS_Nominations] ADD  CONSTRAINT [IX_NMS_Nominations] UNIQUE NONCLUSTERED 
(
	[NominationGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RST_Requests]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[RST_Requests] ADD  CONSTRAINT [IX_RST_Requests] UNIQUE NONCLUSTERED 
(
	[RequestGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USR_Awards]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[USR_Awards] ADD  CONSTRAINT [IX_USR_Awards] UNIQUE NONCLUSTERED 
(
	[AwardGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USR_Certificates]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[USR_Certifications] ADD  CONSTRAINT [IX_USR_Certificates] UNIQUE NONCLUSTERED 
(
	[CertificationGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USR_Comments]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[USR_Comments] ADD  CONSTRAINT [IX_USR_Comments] UNIQUE NONCLUSTERED 
(
	[CommentGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USR_Educations]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[USR_Educations] ADD  CONSTRAINT [IX_USR_Educations] UNIQUE NONCLUSTERED 
(
	[EducationGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USR_Experiences]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[USR_Experiences] ADD  CONSTRAINT [IX_USR_Experiences] UNIQUE NONCLUSTERED 
(
	[ExperienceGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USR_KRAs]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[USR_KRAs] ADD  CONSTRAINT [IX_USR_KRAs] UNIQUE NONCLUSTERED 
(
	[KRAGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USR_Languages]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[USR_Languages] ADD  CONSTRAINT [IX_USR_Languages] UNIQUE NONCLUSTERED 
(
	[LanguageGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USR_Patents]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[USR_Patents] ADD  CONSTRAINT [IX_USR_Patents] UNIQUE NONCLUSTERED 
(
	[PatentGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USR_Projects]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[USR_Projects] ADD  CONSTRAINT [IX_USR_Projects] UNIQUE NONCLUSTERED 
(
	[UserProjectGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USR_Skills]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[USR_Skills] ADD  CONSTRAINT [IX_USR_Skills] UNIQUE NONCLUSTERED 
(
	[UserSkillGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USR_Trainings]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[USR_Trainings] ADD  CONSTRAINT [IX_USR_Trainings] UNIQUE NONCLUSTERED 
(
	[UserTrainingGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USR_VolunteeringExperiences]    Script Date: 6/10/2024 6:16:56 PM ******/
ALTER TABLE [dbo].[USR_VolunteeringExperiences] ADD  CONSTRAINT [IX_USR_VolunteeringExperiences] UNIQUE NONCLUSTERED 
(
	[VolunteeringExperienceGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_MST_BusinessUnits] FOREIGN KEY([BusinessUnitId])
REFERENCES [dbo].[MST_BusinessUnits] ([BusinessUnitId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_MST_BusinessUnits]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_MST_Designations] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[MST_Designations] ([DesignationId])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_MST_Designations]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_MST_Pronouns] FOREIGN KEY([PronounId])
REFERENCES [dbo].[MST_Pronouns] ([PronounId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_MST_Pronouns]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CND_GIFTForms]  WITH NOCHECK ADD  CONSTRAINT [FK_CND_GIFTForms_AspNetUsers] FOREIGN KEY([GIFTFormReviewerId])
REFERENCES [dbo].[AspNetUsers] ([EmployeeCode])
GO
ALTER TABLE [dbo].[CND_GIFTForms] NOCHECK CONSTRAINT [FK_CND_GIFTForms_AspNetUsers]
GO
ALTER TABLE [dbo].[CND_GIFTForms]  WITH NOCHECK ADD  CONSTRAINT [FK_CND_GIFTForms_CND_GIFTForms] FOREIGN KEY([CandidateId])
REFERENCES [dbo].[AspNetUsers] ([EmployeeCode])
GO
ALTER TABLE [dbo].[CND_GIFTForms] NOCHECK CONSTRAINT [FK_CND_GIFTForms_CND_GIFTForms]
GO
ALTER TABLE [dbo].[CND_GIFTForms]  WITH CHECK ADD  CONSTRAINT [FK_CND_GIFTForms_MST_Designations] FOREIGN KEY([CurrentDesignationId])
REFERENCES [dbo].[MST_Designations] ([DesignationId])
GO
ALTER TABLE [dbo].[CND_GIFTForms] CHECK CONSTRAINT [FK_CND_GIFTForms_MST_Designations]
GO
ALTER TABLE [dbo].[CND_GIFTForms]  WITH CHECK ADD  CONSTRAINT [FK_CND_GIFTForms_MST_Designations1] FOREIGN KEY([DesiredDesignationId])
REFERENCES [dbo].[MST_Designations] ([DesignationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CND_GIFTForms] CHECK CONSTRAINT [FK_CND_GIFTForms_MST_Designations1]
GO
ALTER TABLE [dbo].[MST_Designations]  WITH CHECK ADD  CONSTRAINT [FK_MST_Designations_MST_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[MST_Departments] ([DepartmentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MST_Designations] CHECK CONSTRAINT [FK_MST_Designations_MST_Departments]
GO
ALTER TABLE [dbo].[MST_InternalProgramCategories]  WITH CHECK ADD  CONSTRAINT [FK_MST_InternalProgramCategories_MST_InternalPrograms] FOREIGN KEY([InternalProgramId])
REFERENCES [dbo].[MST_InternalPrograms] ([InternalProgramId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MST_InternalProgramCategories] CHECK CONSTRAINT [FK_MST_InternalProgramCategories_MST_InternalPrograms]
GO
ALTER TABLE [dbo].[MST_Notifications]  WITH CHECK ADD  CONSTRAINT [FK_MST_Notifications_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([EmployeeCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MST_Notifications] CHECK CONSTRAINT [FK_MST_Notifications_AspNetUsers]
GO
ALTER TABLE [dbo].[NMS_Attachments]  WITH CHECK ADD  CONSTRAINT [FK_NMS_Attachments_NMS_Nominations] FOREIGN KEY([NominationId])
REFERENCES [dbo].[NMS_Nominations] ([NominationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NMS_Attachments] CHECK CONSTRAINT [FK_NMS_Attachments_NMS_Nominations]
GO
ALTER TABLE [dbo].[NMS_Nominations]  WITH NOCHECK ADD  CONSTRAINT [FK_NMS_Nominations_AspNetUsers] FOREIGN KEY([NominatorId])
REFERENCES [dbo].[AspNetUsers] ([EmployeeCode])
GO
ALTER TABLE [dbo].[NMS_Nominations] NOCHECK CONSTRAINT [FK_NMS_Nominations_AspNetUsers]
GO
ALTER TABLE [dbo].[NMS_Nominations]  WITH NOCHECK ADD  CONSTRAINT [FK_NMS_Nominations_AspNetUsersNominee] FOREIGN KEY([NomineeId])
REFERENCES [dbo].[AspNetUsers] ([EmployeeCode])
GO
ALTER TABLE [dbo].[NMS_Nominations] NOCHECK CONSTRAINT [FK_NMS_Nominations_AspNetUsersNominee]
GO
ALTER TABLE [dbo].[NMS_Nominations]  WITH CHECK ADD  CONSTRAINT [FK_NMS_Nominations_MST_InternalProgramCategories] FOREIGN KEY([InternalProgramCategoryId])
REFERENCES [dbo].[MST_InternalProgramCategories] ([InternalProgramCategoryId])
GO
ALTER TABLE [dbo].[NMS_Nominations] CHECK CONSTRAINT [FK_NMS_Nominations_MST_InternalProgramCategories]
GO
ALTER TABLE [dbo].[NMS_Nominations]  WITH CHECK ADD  CONSTRAINT [FK_NMS_Nominations_MST_InternalPrograms] FOREIGN KEY([InternalProgramId])
REFERENCES [dbo].[MST_InternalPrograms] ([InternalProgramId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NMS_Nominations] CHECK CONSTRAINT [FK_NMS_Nominations_MST_InternalPrograms]
GO
ALTER TABLE [dbo].[REL_CertificationsSkills]  WITH CHECK ADD  CONSTRAINT [FK_REL_CertificationsSkills_MST_Skills] FOREIGN KEY([SkillId])
REFERENCES [dbo].[MST_Skills] ([SkillId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REL_CertificationsSkills] CHECK CONSTRAINT [FK_REL_CertificationsSkills_MST_Skills]
GO
ALTER TABLE [dbo].[REL_CertificationsSkills]  WITH CHECK ADD  CONSTRAINT [FK_REL_CertificationsSkills_USR_Certifications] FOREIGN KEY([CertificationId])
REFERENCES [dbo].[USR_Certifications] ([UserCertificationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REL_CertificationsSkills] CHECK CONSTRAINT [FK_REL_CertificationsSkills_USR_Certifications]
GO
ALTER TABLE [dbo].[REL_RequestsUsers]  WITH CHECK ADD  CONSTRAINT [FK_REL_RequestsUsers_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([EmployeeCode])
GO
ALTER TABLE [dbo].[REL_RequestsUsers] CHECK CONSTRAINT [FK_REL_RequestsUsers_AspNetUsers]
GO
ALTER TABLE [dbo].[REL_RequestsUsers]  WITH CHECK ADD  CONSTRAINT [FK_REL_RequestsUsers_RST_Requests] FOREIGN KEY([RequestId])
REFERENCES [dbo].[RST_Requests] ([RequestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REL_RequestsUsers] CHECK CONSTRAINT [FK_REL_RequestsUsers_RST_Requests]
GO
ALTER TABLE [dbo].[REL_UserProjectsSkills]  WITH CHECK ADD  CONSTRAINT [FK_REL_UserProjectsSkills_MST_Skills] FOREIGN KEY([SkillId])
REFERENCES [dbo].[MST_Skills] ([SkillId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REL_UserProjectsSkills] CHECK CONSTRAINT [FK_REL_UserProjectsSkills_MST_Skills]
GO
ALTER TABLE [dbo].[REL_UserProjectsSkills]  WITH CHECK ADD  CONSTRAINT [FK_REL_UserProjectsSkills_USR_Projects] FOREIGN KEY([UserProjectId])
REFERENCES [dbo].[USR_Projects] ([UserProjectId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REL_UserProjectsSkills] CHECK CONSTRAINT [FK_REL_UserProjectsSkills_USR_Projects]
GO
ALTER TABLE [dbo].[RST_Requests]  WITH CHECK ADD  CONSTRAINT [FK_RST_Requests_AspNetUsers] FOREIGN KEY([RequesterId])
REFERENCES [dbo].[AspNetUsers] ([EmployeeCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RST_Requests] CHECK CONSTRAINT [FK_RST_Requests_AspNetUsers]
GO
ALTER TABLE [dbo].[USR_Awards]  WITH CHECK ADD  CONSTRAINT [FK_USR_Awards_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([EmployeeCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USR_Awards] CHECK CONSTRAINT [FK_USR_Awards_AspNetUsers]
GO
ALTER TABLE [dbo].[USR_Certifications]  WITH CHECK ADD  CONSTRAINT [FK_USR_Certifications_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([EmployeeCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USR_Certifications] CHECK CONSTRAINT [FK_USR_Certifications_AspNetUsers]
GO
ALTER TABLE [dbo].[USR_Certifications]  WITH CHECK ADD  CONSTRAINT [FK_USR_Certifications_MST_Certifications] FOREIGN KEY([CertificationId])
REFERENCES [dbo].[MST_Certifications] ([CertificationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USR_Certifications] CHECK CONSTRAINT [FK_USR_Certifications_MST_Certifications]
GO
ALTER TABLE [dbo].[USR_Certifications]  WITH CHECK ADD  CONSTRAINT [FK_USR_Certifications_MST_Companies] FOREIGN KEY([CertificateIssuingCompanyId])
REFERENCES [dbo].[MST_Companies] ([CompanyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USR_Certifications] CHECK CONSTRAINT [FK_USR_Certifications_MST_Companies]
GO
ALTER TABLE [dbo].[USR_Comments]  WITH NOCHECK ADD  CONSTRAINT [FK_USR_Comments_AspNetUsers] FOREIGN KEY([CommenterId])
REFERENCES [dbo].[AspNetUsers] ([EmployeeCode])
GO
ALTER TABLE [dbo].[USR_Comments] NOCHECK CONSTRAINT [FK_USR_Comments_AspNetUsers]
GO
ALTER TABLE [dbo].[USR_Comments]  WITH NOCHECK ADD  CONSTRAINT [FK_USR_Comments_AspNetUsersEmployee] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([EmployeeCode])
GO
ALTER TABLE [dbo].[USR_Comments] NOCHECK CONSTRAINT [FK_USR_Comments_AspNetUsersEmployee]
GO
ALTER TABLE [dbo].[USR_Educations]  WITH CHECK ADD  CONSTRAINT [FK_USR_Educations_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([EmployeeCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USR_Educations] CHECK CONSTRAINT [FK_USR_Educations_AspNetUsers]
GO
ALTER TABLE [dbo].[USR_Experiences]  WITH CHECK ADD  CONSTRAINT [FK_EMP_Experience_MST_EmploymentTypes] FOREIGN KEY([EmploymentTypeId])
REFERENCES [dbo].[MST_EmploymentTypes] ([EmploymentTypeId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[USR_Experiences] CHECK CONSTRAINT [FK_EMP_Experience_MST_EmploymentTypes]
GO
ALTER TABLE [dbo].[USR_Experiences]  WITH CHECK ADD  CONSTRAINT [FK_USR_Experiences_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([EmployeeCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USR_Experiences] CHECK CONSTRAINT [FK_USR_Experiences_AspNetUsers]
GO
ALTER TABLE [dbo].[USR_Experiences]  WITH CHECK ADD  CONSTRAINT [FK_USR_Experiences_MST_Companies] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[MST_Companies] ([CompanyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USR_Experiences] CHECK CONSTRAINT [FK_USR_Experiences_MST_Companies]
GO
ALTER TABLE [dbo].[USR_Experiences]  WITH CHECK ADD  CONSTRAINT [FK_USR_Experiences_MST_Designations] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[MST_Designations] ([DesignationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USR_Experiences] CHECK CONSTRAINT [FK_USR_Experiences_MST_Designations]
GO
ALTER TABLE [dbo].[USR_Experiences]  WITH CHECK ADD  CONSTRAINT [FK_USR_Experiences_MST_LocationTypes] FOREIGN KEY([LocationTypeId])
REFERENCES [dbo].[MST_LocationTypes] ([LocationTypeId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[USR_Experiences] CHECK CONSTRAINT [FK_USR_Experiences_MST_LocationTypes]
GO
ALTER TABLE [dbo].[USR_KRAs]  WITH CHECK ADD  CONSTRAINT [FK_USR_KRAs_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([EmployeeCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USR_KRAs] CHECK CONSTRAINT [FK_USR_KRAs_AspNetUsers]
GO
ALTER TABLE [dbo].[USR_Languages]  WITH CHECK ADD  CONSTRAINT [FK_USR_Languages_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([EmployeeCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USR_Languages] CHECK CONSTRAINT [FK_USR_Languages_AspNetUsers]
GO
ALTER TABLE [dbo].[USR_Languages]  WITH CHECK ADD  CONSTRAINT [FK_USR_Languages_MST_Proficiencies] FOREIGN KEY([ProficiencyId])
REFERENCES [dbo].[MST_Proficiencies] ([ProficiencyId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[USR_Languages] CHECK CONSTRAINT [FK_USR_Languages_MST_Proficiencies]
GO
ALTER TABLE [dbo].[USR_Patents]  WITH CHECK ADD  CONSTRAINT [FK_USR_Patents_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([EmployeeCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USR_Patents] CHECK CONSTRAINT [FK_USR_Patents_AspNetUsers]
GO
ALTER TABLE [dbo].[USR_Projects]  WITH CHECK ADD  CONSTRAINT [FK_USR_Projects_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([EmployeeCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USR_Projects] CHECK CONSTRAINT [FK_USR_Projects_AspNetUsers]
GO
ALTER TABLE [dbo].[USR_Projects]  WITH CHECK ADD  CONSTRAINT [FK_USR_Projects_MST_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[MST_Projects] ([ProjectId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USR_Projects] CHECK CONSTRAINT [FK_USR_Projects_MST_Projects]
GO
ALTER TABLE [dbo].[USR_Skills]  WITH CHECK ADD  CONSTRAINT [FK_USR_Skills_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([EmployeeCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USR_Skills] CHECK CONSTRAINT [FK_USR_Skills_AspNetUsers]
GO
ALTER TABLE [dbo].[USR_Skills]  WITH NOCHECK ADD  CONSTRAINT [FK_USR_Skills_MST_Skills] FOREIGN KEY([SkillId])
REFERENCES [dbo].[MST_Skills] ([SkillId])
GO
ALTER TABLE [dbo].[USR_Skills] NOCHECK CONSTRAINT [FK_USR_Skills_MST_Skills]
GO
ALTER TABLE [dbo].[USR_Trainings]  WITH CHECK ADD  CONSTRAINT [FK_EMP_Trainings_MST_TrainingTypes] FOREIGN KEY([TrainingTypeId])
REFERENCES [dbo].[MST_TrainingTypes] ([TrainingTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USR_Trainings] CHECK CONSTRAINT [FK_EMP_Trainings_MST_TrainingTypes]
GO
ALTER TABLE [dbo].[USR_Trainings]  WITH CHECK ADD  CONSTRAINT [FK_USR_Trainings_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([EmployeeCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USR_Trainings] CHECK CONSTRAINT [FK_USR_Trainings_AspNetUsers]
GO
ALTER TABLE [dbo].[USR_Trainings]  WITH CHECK ADD  CONSTRAINT [FK_USR_Trainings_MST_Trainings] FOREIGN KEY([TrainingId])
REFERENCES [dbo].[MST_Trainings] ([TrainingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USR_Trainings] CHECK CONSTRAINT [FK_USR_Trainings_MST_Trainings]
GO
ALTER TABLE [dbo].[USR_VolunteeringExperiences]  WITH CHECK ADD  CONSTRAINT [FK_USR_VolunteeringExperiences_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([EmployeeCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USR_VolunteeringExperiences] CHECK CONSTRAINT [FK_USR_VolunteeringExperiences_AspNetUsers]
GO
ALTER TABLE [dbo].[USR_VolunteeringExperiences]  WITH CHECK ADD  CONSTRAINT [FK_USR_VolunteeringExperiences_MST_Causes] FOREIGN KEY([CauseId])
REFERENCES [dbo].[MST_Causes] ([CauseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USR_VolunteeringExperiences] CHECK CONSTRAINT [FK_USR_VolunteeringExperiences_MST_Causes]
GO
USE [master]
GO
