nz-header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: white;
  padding: 0;
}

.menu-btn {
  display: none;
}

.logo {
  display: none;
}

@media only screen and (max-width: 769px) {
  .menu {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}

@media only screen and (max-width: 1200px) {
  .logo {
    display: inline-block;
  }

  .logo-text {
    display: none;
  }
}