<div nz-flex [nzJustify]="'space-between'" [nzAlign]="'center'">
  <h3>Pronouns</h3>

  <button nz-button nzType="primary" nzShape="circle" (click)="showModal()">
    <span nz-icon nzType="plus"></span>
  </button>
</div>

<nz-modal [(nzVisible)]="isModelVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="null"
  (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>Create Pronoun</ng-template>

  <ng-template #modalContent>
    <form nz-form [nzAutoTips]="autoTips" [formGroup]="service.createPronounModel" nzLayout="vertical" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="pronoun">Pronoun</nz-form-label>
        <nz-form-control nzErrorTip="This field is required!">
          <input nz-input formControlName="pronoun" placeholder="e.g, He/Him" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="pronounDescription">Description</nz-form-label>
        <nz-form-control>
          <textarea nz-input formControlName="pronounDescription" placeholder="Description" [nzAutosize]="{ minRows: 1, maxRows: 6 }"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <div style="width: 100%; gap: 0.3em" nz-flex [nzJustify]="'flex-end'" [nzAlign]="'center'">
          <button nz-button nzType="default"  (click)="handleCancel()" type="button">
            Cancel
          </button>
          <button nz-button [nzType]="'primary'" [nzLoading]="service.createPronounModel.pending" type="submit">
            Create Pronoun
          </button>
        </div>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #modalFooter> </ng-template>
</nz-modal>

<nz-list *ngIf="pronouns!=null; else noContent">
  <nz-list-item *ngFor="let item of pronouns">
    <ng-container>
      <nz-list-item-meta>
        <nz-list-item-meta-title>
          <p>{{ item.pronoun }}</p>
        </nz-list-item-meta-title>

        <nz-list-item-meta-description>
          <!-- <p>{{ item.pronounDescription }}</p> -->
          <span *ngIf="item.pronounDescription != null && item.pronounDescription != ''">
            <p nz-typography nzEllipsis nzExpandable [nzEllipsisRows]="2" class="text-secondary">{{item.pronounDescription}}</p>
          </span>
        </nz-list-item-meta-description>
      </nz-list-item-meta>
      <ul nz-list-item-actions>
        <nz-list-item-action><a (click)="edit(item)"><button nz-button nzType="default" nzShape="circle">
              <span nz-icon nzType="edit" nzTheme="outline"></span></button></a></nz-list-item-action>
        <nz-list-item-action><a (click)="delete(item.pronounGuid)">
            <button nzDanger nz-button nzType="default" nzShape="circle">
              <span nz-icon nzDanger nzType="delete"></span></button></a></nz-list-item-action>
      </ul>
    </ng-container>
  </nz-list-item>
</nz-list>
<ng-template #noContent>
  <nz-empty></nz-empty>
</ng-template>

<nz-modal [(nzVisible)]="isEditModalVisible" [nzTitle]="editModalTitle" [nzContent]="editModalContent" [nzFooter]="null"
  (nzOnCancel)="handleCancel()">
  <ng-template #editModalTitle>Edit Pronoun</ng-template>

  <ng-template #editModalContent>
    <form nz-form [nzAutoTips]="autoTips" [formGroup]="service.editPronounModel" nzLayout="vertical" (ngSubmit)="handlePronounEdit()">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="pronoun">Pronoun</nz-form-label>
        <nz-form-control nzErrorTip="This field is required!">
          <input nz-input formControlName="pronoun" placeholder="e.g, He/Him" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="pronounDescription">Description</nz-form-label>
        <nz-form-control>
          <textarea nz-input formControlName="pronounDescription" placeholder="Description" [nzAutosize]="{ minRows: 1, maxRows: 6 }"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <div style="width: 100%; gap: 0.3em" nz-flex [nzJustify]="'flex-end'" [nzAlign]="'center'">
          <button nz-button nzType="default" (click)="handleCancel()" type="button">
            Cancel
          </button>
          <button nz-button [nzType]="'primary'" [nzLoading]="service.editPronounModel.pending" type="submit">
            Save
          </button>
        </div>
      </nz-form-item>
    </form>
  </ng-template>
</nz-modal>
